@page "/Incluir"

<h3>Incluir</h3>


    <div class="d-flex justify-content-center">
        <form action="">

            <fieldset style="margin: 1em 0; padding: 1em; border: 1px solid #ccc; background: #f8f8f8">
                <h2 class="text-center">Amigos !</h2>
                <legend class="text-center" style="font-weight: bold">Detalhes contato</legend>
                <div>
                    <label style="display: block; cursor: pointer; width: 20em" for="nome">
                        Nome:</label>
                    <input style="width: 20em" type="text" name="nome" id="nome">
                </div>
                <div>
                    <label style="display: block; cursor: pointer; width: 20em" for="endereco">
                        Endereco:</label>
                    <input style="width: 20em" type="text" name="endereco" id="nome">
                </div>
                <div>
                    <label style="display: block; cursor: pointer; width: 20em" for="email">
                        Email:</label>
                    <input style="width: 20em" type="text" name="email" id="nome">
                </div>
                <div>
                    <label style="display: block; cursor: pointer; width: 20em" for="telefone">
                        Telefone:</label>
                    <input style="width: 20em" type="text" name="telefone" id="nome">
                </div>
                <div class="pt-3 grid text-center">
                      <button class="g-col-6 btn btn-primary" type="button">Save</button>
                      <button class="g-col-6 btn btn-primary" type="button">Cancel</button>
                </div>
            </fieldset>

                



        </form>
    </div>

@code {

}
